body {
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

header {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid black;
  margin-top: 1rem;
}

article>header {
  margin-bottom: 1.5rem;
}

a {
  color: #A90000;
  text-decoration: none;
}

strong {
  color:  #A90000;
}

.terms {
  margin-top: 1rem;
}

.lyrics {
  line-height: 3rem;
}

.lyrics .chord {
  position: absolute;
  margin-top: -1.5rem;
}

.chord {
  font-weight: lighter;
  color:  #980000;
}
