body {
  color: black;
  font-family: sans-serif;
  line-height: 1.5rem;
  margin: 1.5rem;
}

header {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid black;
  margin-top: 1rem;
}

article>header {
  margin-bottom: 1.5rem;
}

a {
  color: #A90000;
  text-decoration: none;
}

.terms {
  margin-top: 1rem;
}

.chord::before {
  content: attr(data-chord);
  font-weight: lighter;
  color: #980000;
}

.chords--lyrics {
  line-height: 3.5rem;
}

.chords--lyrics .chord {
  min-width: 2rem;
  position: relative;
}

.chords--lyrics .chord::before {
  position: relative;
  display: inline-block;
  top: -1.5rem;
  width: 0;
}

.chords--lyrics .chord:empty::before {
  width: 1rem;
}

.flex-content {
  display: flex;
  justify-content: space-between;
}

@media print {

  body>header,
  body>footer {
    display: none !important;
  }

  article:not(:last-child) {
    page-break-after: always;
  }

  .chords,
  p {
    page-break-inside: avoid;
  }
}
