body {
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

header {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid black;
  margin-top: 1rem;
}

article>header {
  margin-bottom: 1.5rem;
}

a {
  color: #A90000;
  text-decoration: none;
}

.terms {
  margin-top: 1rem;
}

.chord {
  font-weight: lighter;
  color: #980000;
}

.chords--lyrics {
  line-height: 3rem;
}

.chords--lyrics .chord {
  position: absolute;
  margin-top: -1.5rem;
}

@media print {

  body>header,
  body>footer {
    display: none !important;
  }

  article:not(:last-child) {
    page-break-after: always;
  }

  .chords,
  p {
    page-break-inside: avoid;
  }
}
