<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{- $title := cond (eq .Path "/404") (.GetPage "/_404" | default .).Title .Title }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" $title site.Title }}{{ end }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ relURL "apple-touch-icon.png" }}">
<link rel="icon" type="image/png" sizes="32x32" href={{ relURL "favicon-32x32.png" }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ relURL "favicon-16x16.png" }}>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
